/* 怨듯넻�쇰줈 �ㅼ뼱媛��� css */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.font_noto {font-family: 'Noto Sans KR' !important;}
.font_namyeong {font-family: 'nanum myeongjo' !important;}

a {display: inline-block; vertical-align: middle; color: #232a32;}

strong {font-weight: 600 !important;}
.fw_bold {font-weight: 600 !important;}
.fw_normal {font-weight: normal; !important;}

.w170 {width: 170px !important;}
.w760 {width: 760px !important;}
.w1100 {width: 1100px !important;}

.btn_w_line {height: 21px; line-height: 21px; padding: 0 15px; margin: -3px 0 0 0; color: #fff; border: 1px solid #fff;}

.btn_line_more {display: block; clear: both; width: 800px; height: 30px; margin: 0 auto; line-height: 30px; text-align: center; font-size: 12px; font-weight: normal; border-radius: 20px; border: 1px solid #e7e7e7;}
.btn_line_more:hover {color: #fff; border: 1px solid #232426; background: #232426;}

.btn_line_s {display: inline-block; height: 22px; padding: 0 7px; line-height: 22px; text-align: center; font-size: 11px; font-weight: normal; color: #232a32; border: 1px solid #232a32; background: #fff;}
.btn_line_m {display: inline-block; height: 38px; padding: 0 30px; line-height: 38px; text-align: center; font-size: 15px; font-weight: normal; color: #232a32; border: 1px solid #232a32; background: #fff;}
.btn_line_l {display: inline-block; height: 48px; padding: 0 35px; text-align: center; line-height: 48px; font-size: 18px; font-weight: normal; border: 1px solid #0b0c0e;}

.btn_red_l {display: inline-block; height: 50px; padding: 0 35px; text-align: center; line-height: 50px; font-size: 18px; font-weight: normal; color: #fff; background: #f0363c;}

.btn_dark_s {display: inline-block; height: 24px; padding: 0 10px; line-height: 24px; text-align: center; font-size: 11px; font-weight: normal; color: #fff; background: #0b0c0e;}
.btn_dark_m {display: inline-block; height: 40px; padding: 0 30px; line-height: 40px; text-align: center; font-size: 15px; font-weight: normal; color: #fff; background: #0b0c0e;}
.btn_dark_l {display: inline-block; height: 50px; padding: 0 35px; text-align: center; font-size: 18px; line-height: 50px; font-weight: normal; color: #fff; background: #0b0c0e;}
.btn_dark_square {display: inline-block; height: 80px; padding: 0 18px; line-height: 80px; font-size: 14px; font-weight: 600; color: #fff; background: #232a32;}

.btn_gray {display: inline-block; height: 24px; padding: 0 10px; line-height: 24px; text-align: center; font-size: 11px; font-weight: normal; color: #fff; background: #999999;}
.btn_gray_m {display: inline-block; height: 40px; padding: 0 30px; line-height: 40px; text-align: center; font-size: 15px; font-weight: normal; color: #fff; background: #999999;}

.btn_bluegreen {display: inline-block; height: 37px; padding: 0 13px; line-height: 37px; font-size: 13px; font-weight: 600; color: #fff; background: #2c5473;}

.c_red {color: #f0363c !important;}
.c_gray {color: #999 !important;}
.c_gray02 {color: #666666 !important;}

.bg_gray {background: #fafafa !important;}

input, select {margin: 0 5px 0 0; vertical-align: middle; font-size: 12px !important; color: #595959 !important; background: #fff;}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {width: 163px; height: 33px; padding: 0 10px; line-height: 33px; box-sizing: border-box; border: 1px solid #232a32;}
input.input_outGray {border: 1px solid #999;}
textarea {height: 103px; padding: 10px; font-family: 'Nanum Barun Gothic' !important; font-size: 12px !important; color: #595959; box-sizing: border-box; border: 1px solid #232a32;}

.inputGray,
input.inputGray {display: inline-block; width: 163px; height: 33px; padding: 0 10px; line-height: 33px; box-sizing: border-box; border: 1px solid #e1e1e1; background: #fafafa;}

label {font-size: 12px; font-weight: normal;}

select {width: 163px; height: 33px; padding: 0 0 0 10px; line-height: 28px; font-size: 13px; color: #232a32; background: #fff url(../images/ico_arrow_select.gif) 92% 50% no-repeat; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 1px solid #232a32; font-family: inherit; vertical-align: middle;}
select::-ms-expand {display: none;}/* for IE 11 */

/*업체등록*/
.company_regi label {font-size: 12px; font-weight: normal; padding:8px; display: inline-block;}
.company_regi input[type="text"],
.company_regi input[type="number"],
.company_regi input[type="email"],
.company_regi input[type="password"] {width: 250px; height: 33px; padding: 0 10px; line-height: 33px; box-sizing: border-box; }

.company_regi select {width: 250px; height: 33px; padding: 0 0 0 10px; line-height: 28px; font-size: 13px; color: #232a32; box-sizing: border-box; border: 1px solid #232a32; font-family: inherit; vertical-align: middle;}
.company_regi select::-ms-expand {display: none;}/* for IE 11 */


.time select {width: 50px; height: 33px; padding: 0 0 0 10px; line-height: 28px; font-size: 13px; color: #232a32; box-sizing: border-box; border: 1px solid #232a32; font-family: inherit; vertical-align: middle;}
.time label {font-size: 12px; font-weight: normal; padding:8px; display: inline-block;}


/* wrap */
.wrap {width: 1100px; margin: 0 auto;}

/* topBanner */
.topBanner {
	width: 100%;
	min-width: 1100px;
  margin: 0 auto;
  height: 100px;
  background: #f3f1e9 url(../images/bg_topban.jpg) no-repeat 0 center;
  overflow: hidden;
}
.topBanner .sunny_inner{
	width: 1100px;
  margin: 0 auto;
}
.topBanner .sunny_inner dl{
	position: relative;
	width: 1100px;
	margin: 0 auto;
	letter-spacing: -1px;
}
.topBanner .sunny_inner dt{
	width: 70%;
  font-size: 28px;
  line-height: 28px;
  color: #908987;
  padding-top: 32px;
}
.topBanner .sunny_inner dt span{
  color: #463b37;
}
.topBanner .sunny_inner dd{
	position: absolute;
  right: 0;
  top: 31px;
}
.topBanner .sunny_inner dd a{
	display: inline-block;
  color: #463b37;
  font-size: 14px;
  height: 36px;
  line-height: 35px;
  padding: 0 20px;
  border: 1px solid #d0cbc2;
  border-radius: 18px;
  -ms-border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}


/* header */
.header {position: relative; width: 1100px; height: 190px; margin: 0 auto;}
.header .logo {display: block; position: absolute; width: 143px; height: 43px; top: 50%; left: 50%; margin: -21px 0 0 -71px;}
.header .service_section {
	float: right; padding: 0 5px 10px; width: 100%;

}
.header .service_section .top_menu {float: right; padding: 11px 0;}
.header .service_section .top_menu li {float: left; padding: 0 0 0 20px; font-size: 11px;}
.header .service_section .top_menu li a {}
.header .service_section .main_menu {clear: both; float: right;}
.header .service_section .main_menu a {display: inline-block; padding: 0 3px; vertical-align: middle;}
.header .service_section .main_menu .searchArea {}
.header .service_section .main_menu .searchArea input {width: 229px; height: 25px; line-height: 25px; padding: 0 20px; font-size: 12px; border: 1px solid #f0efef; border-radius: 20px; background: #f6f6f6;}
.header .service_section .main_menu .searchArea a {display: inline-block; vertical-align: middle;}



/* 메뉴 고정 */
.header-btm{}
.header-btm .inner {position:relative; z-index: 2;}
.header-btm.fixed {position:fixed; top:0; left:50%; margin-left:-1000px; width:2000px; z-index:9999; background:#fff; box-shadow:0 5px 10px rgba(0,0,0,0.1);}
.header-btm.fixed .gnb {margin-top:0;}
.gnb {margin-top:100px; width:100%;}
.gnb > li {position:relative; float:left; width:25%; height:70px; line-height:70px;}
.gnb > li:before {position:absolute; top:26px; left:0; content:''; width:1px; height:18px; background:#eee;}
.gnb > li:first-child:before {display:none;}
.gnb > li:after {position:absolute; bottom:0; left:50%; margin-left:-70px; content:''; width:140px; height:2px; transform:scale(0); background:#8ca15a; transition:all 0.3s ease-in-out;}
.gnb > li:hover:after {transform:scale(1)}
.gnb > li.on:after {transform:scale(1)}
.gnb > li > a {display:block; height:100%; font-size:16px; color:#333; text-align:center;}
.gnb > li > a:hover {color:#8ca15a; transition:1s; }
.gnb > li > a > img {position:absolute; top:28px; left:0; height:15px;}

.hamburger {position:absolute; top:22px; left:0; width:24px; z-index:9999;}
.header-btm.fixed .hamburger.active {top:160px;}
.hamburger span.line{
  width: 100%;
  height:3px;
  background-color: #555252;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.active span.line:nth-child(2){opacity: 0;}

.hamburger.active span.line:nth-child(1){
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
  background-color: #fff;
}

.hamburger.active span.line:nth-child(3){
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
  background-color: #fff;
}

/*서브메뉴 */
#nav { display: none; width: 100%; z-index: 1000;}
.submenu {display: none;}
.submenu.show{display: block;}

.nav{
   padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: #eef6da; */
   width: 1100px;
    margin: 0 auto;
    height: 138px;
}
#nav.subnav { display: block;  position: absolute;
    background-color: #fff;  }

#subGoods li.ssub{cursor: pointer;}
#subActive li.ssub{cursor: pointer;}
#subCommu li.ssub{cursor: pointer;}

li.ssub:hover{color:#8ca15a; trasition: 2s;}
li.ssub{color: #333;}
/* li.ssub.on{color:#8ca15a;  } */

.submenu{background-color: #fff;}
.submenu li{border-bottom: 1px solid #eaeaea; position:relative; height: 50px; line-height: 50px;}
.submenu li:first-child{border-top: 1px solid #eaeaea;}
.submenu li:hover:after{
   content: '';
   position: absolute;
   top:30px;
   right: 15px;
   background: url("../images/ico_dept.png") no-repeat center center;
   width: 10px;
   height: 13px;
}

#nav ul{width: 20%;
    /* height: 288px; */
    margin-left: 46px !important;
    margin: 0 auto;
    float: left;
   
}
#nav ul:first-child{
    margin-left: 29px !important;
   
}
#nav li {    width: 100%;
    text-align: center; 
   padding: 0 0 6px 0;
   
}
#nav :hover{
   
}
#nav li a{
   color: #232a32;
}



/* nav 영역 */
/* .nav {width: 100%; min-width: 1100px; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; }


.gnb {clear: both; width: 1100px; margin: 0 auto; text-align: center;  }
.pd_top_80{padding-top:80px;}



.gnb li {display: inline-block; height: 37px; line-height: 37px; font-size: 15px; font-weight: 600;}
.gnb li a {display: block; padding: 0 45px;}
.gnb li a:hover,
.gnb li a.current { color:#8ca15a; transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;}

.gnb li{
   position: relative;
}
.gnb li::before{
   content: '';
   position: absolute;
   right: 0;
   top: 10px;
   background-color: #e6e4de;
   width: 1px;
   height: 15px;
} */
/* .gnb li a { position: relative; } */
/* .gnb li a::after{
   position: absolute;
   right: 0;
   top: 2px;
   border: 1px solid #000;
   content: '';
   display: inline-block;
   background-color: #000;
   width: 1px;
   height: 1px;
} */




/* .gnb ul > li > a{
   display:block;
   width:143px;
   color:#908987;
   font-size:14px;
   height:58px;
   line-height:58px;
   border-right:1px solid #f3f1e9;
   text-align:center;
   letter-spacing:-1px;
   transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
} */
/*
.gnb ul li a:hover{

   transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
} */




/* 4�� 21�� �꾩듅�� header �섏젙 */
/* .nav{border-top: 1px solid #ede6e6;;border-bottom: 1px solid #c7c7c7; padding: 8px 0;}*/
.gnb {width: 1100px; margin: 0 auto; text-align: center; height: 70px;}
.dept01_menu_lst{width: 100%;}
.dept01_menu_lst>li{position: relative;display:inline-block;/*width:19%;*/height: 37px; line-height: 37px; padding: 0 28px; font-size: 15px; font-weight: 600;}
.dept01_menu_lst>li>a{display:block;width:100%;height:100%;}
.dept02_menu_lst{position:absolute;width:100%; left: 0; background-color:#fff;opacity: 0.8;display:none;z-index:999999;}
.dept02_menu_lst>li{/*position:relative;*/}
.dept02_menu_lst>li>a{display:block;width:100%;height:100%;}
.dept03_menu_box{position:absolute;min-width:870px;width:100%;left:100%;top:0;padding-left:10px;background-color:#fff;box-sizing:border-box;display:none;}
.dept03_menu_box:after{display:block;content:"";clear:both;}
.dept03_menu_lst{text-align:left;width:100%;height:100%;}
.dept03_menu_lst>li{width:50%;float:left;}
.dept03_menu_lst>li>a{display:block;width:100%;height:100%;font-size:13px;}

.dept02_menu_lst>li>a {}
.dept02_menu_lst>li>a:hover {background: #af1d1e; color: #fff;}

/* 移댄뀒怨좊━ 寃쎈줈 */
.category_dept {min-width: 1100px; height: 35px; background: #f6f6f6;}
.category_dept ul {width: 1100px; margin: 0 auto;}
.category_dept ul li {float: left; padding: 0 16px 0 0; margin: 0 10px 0 0; line-height: 35px; font-size: 11px; background: url(../images/ico_arrow_dept.gif) no-repeat right center;}
.category_dept ul li:last-child {background: none;}


/* footer */
.footerWrap .snsArea {width: 1100px; margin: 0 auto 15px;}
.footerWrap .snsArea li {display: block; float: left; width: 29px; height: 29px; padding: 0 10px 0 0;}
.footerWrap .footer .top_menu li {display: inline-block; line-height: 54px; font-size: 13px;}
.footerWrap .footer .top_menu li a:hover {opacity: 0.5;}
.footerWrap .footer .main_menu {position: relative; width: 1100px; padding: 45px 0; margin: 0 auto; border-top: 1px solid #ececec;}
.footerWrap .footer .main_menu ul {clear: both; padding: 0 0 8px 0;}
.footerWrap .footer .main_menu ul li {float: left; padding: 0 10px; font-size: 12px; background: url(../images/ico_vert_bar.gif) no-repeat right center;}
.footerWrap .footer .main_menu ul li:last-child {background: none;}
.footerWrap .footer .main_menu p {padding: 30px 0 0 0; font-size: 10px;}
.footerWrap .footer .main_menu .footer_logo {display: block; position: absolute; width: 131px; height: 39px; top: 50%; right: 20px; margin: -19px 0 0 0;}
.footerWrap .footer .top_menu {
    height: 54px;
    text-align: center;
    background: #f6f6f6;
}

.footerWrap .footer .top_menu li>a {
    padding: 0 45px;
    color: #222 !important;
}


.footerWrap .footer {
    background: #fff;
}

.footerWrap {
    min-width: 1100px;
    clear: both;
    color: #222;
}

/* DATE : 2017-04-11 */
input:disabled, textarea:disabled {color: #666; border: 1px solid #e0e0e0; background: #fbfbfb;}
input:read-only, textarea:read-only {color: #666; border: 1px solid #e0e0e0; background: #fbfbfb;}


/*
DATE : 2017-04-18
WRITER : 理쒖삁吏�
*/
.footerWrap .footer .top_menu li>a {padding: 0 45px; color: #fff;}


/*	�숈쟻 �대�吏��낅줈�� css
	�묒꽦�� : 諛뺤긽��
*/
input[type="image"] {
	margin: 1px  0 0 0;
	vertical-align: top;
	border: hidden;
}

.fileDel {
	background-image: url(/img/front/common/board/btn_delete.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    border: none;
}


/*
DATE : 2017-04-18
WRITER : 理쒖삁吏�
*/
.footerWrap .footer .top_menu li>a {padding: 0 45px; color: #fff;}


/* logo �꾩튂 - demo shop */
.header .logo {
    display: block;
    position: absolute;
    width: 97px;
    height: 27px;
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -48px;
}





/*
	박지훈 css
*/
.prdSubMenu {min-width: 1069px;height: 34px;border-bottom: 1px solid #efefef;width: 100%}
.prdSubMenu li {list-style-type: none; float: left; margin-left: 30px;}
.prdSubMenu li:last-child {border-right: none;}
.prdSubMenu li:after{}
.prdSubMenu li a {height: auto;}
.prdSubMenu li a:hover,
.prdSubMenu li a.current {text-decoration: underline;}
.prdSubMenu .selectMenu {color:red;}

.selectPrdBtn{width: 30px; height: 30px; margin-right: 5px; border: 1px solid #eee; border-left: none; border-right: none; text-indent: 0; background-color: #c8c8c8; color:white;}
.selectAcount{width: 30px; border: 1px solid #eee; border-left: none; border-right: none; text-indent: 0; margin-right: 10px; margin-left: 10px;}
.selectDelBtn{width: 20px; height: 20px; margin-left: 5px; border: 1px solid #eee; border-left: none; border-right: none; text-indent: 0; background-color: #c8c8c8; color:white}
