.prdlist_default { }
.prdlist_default img { vertical-align: middle; }
.prdlist_default ul.prdList { display: table; width: 100%; margin: 0; font-size: 0; line-height: 0; }
.prdlist_default ul.prdList li.item { display: inline-block; margin: 0; vertical-align: top; *display:inline; *zoom:1; }
.prdlist_default ul.prdList li.item .box { margin:0 auto 80px; font-size:11px; line-height:18px; text-align: left; }
.prdlist_default ul.prdList a, .prdlist_default ul.prdList span { /*font-family: "Roboto","Nanum Gothic","dotum","arial",AppleGothic,sans-serif;*/ }
.prdlist_default ul.prdList a, .prdlist_default ul.prdList span img { margin-right: 3px; }
.prdlist_default ul.prdList .prdImg{position:relative; width: 100%; margin:0 0 25px;border:1px solid #f1f1f1; }
/*.prdlist_default ul.prdList .prdImg .icon{position:absolute;left:10px;top:-33px;display:inline-block;width:100px;height:100px;}
.prdlist_default ul.prdList .prdImg .icon img{width:100%;}*/
.prdlist_default ul.prdList .thumb { width: 100%; height: auto; }
.prdlist_default ul.prdList .prd_info_box { width: 100%; height: auto; }
.prdlist_default ul.prdList .name { text-align: left; margin-bottom: 12px; /*background: url('../images/prd_name_line.gif') 0  center repeat-x;*/ }
.prdlist_default ul.prdList .name a { font-size: 26px;color: #252f45;/*margin-bottom: 12px;*/text-transform: uppercase;letter-spacing: -1px;/*display:inline-block; *display:inline; *zoom:1; padding-right: 10px; background: #fff; font-family: "Raleway","Nanum Gothic",sans-serif; color:#272727; font-size: 14px !important;*/ }
.prdlist_default ul.prdList .name .title { font-weight:normal; }
.prdlist_default ul.prdList .subname { text-align: left; margin-bottom:20px; color: #999;font-size: 17px;line-height: 22px;/*padding-bottom: 24px;*/letter-spacing: -1px;}
.prdlist_default ul.prdList .subname span{display: block;color: #252f45;font-weight: 500;}
.prdlist_default ul.prdList .subname a { /*display:inline-block; *display:inline; *zoom:1; padding-right: 10px; font-family: "Raleway","Nanum Gothic",sans-serif; color:#7f7f7f; font-size: 12px !important;*/ }
.prdlist_default ul.prdList .price{font-size: 18px;font-family: 'Lato',sans-serif;color:#d17d74;}
/*.prdlist_default ul.prdList .icon { width: 100%; height: auto; margin-bottom: 10px; }*/
.prdlist_default ul.prdList .list_info li { margin-bottom: 10px; }
.prdlist_default ul.prdList .list_info li span { font-family: "Montserrat","Nanum Gothic",sans-serif; font-weight: 400; color: #272727; }
.prdlist_default ul.prdList .list_info s{font-size:14px;padding-right:2px;}
.prdlist_default .message{color:#212121;margin-top:10px;}

.prdlist_default ul.column3 { width: 1375px; margin-left: -13px; }
.prdlist_default ul.column3 li.item { width:33.3%; }
.prdlist_default ul.column3 li.item .box { width:423px; height: auto; }
.prdlist_default ul.column3 li.item .thumb { max-width:423px;min-height:300px; }

.prdlist_default ul.column4 { width: 1280px; margin-left: -15px; }
.prdlist_default ul.column4 li.item { width:25%; }
.prdlist_default ul.column4 li.item .box { width:290px; }
.prdlist_default ul.column4 li.item .thumb { max-width:290px; }

.prdlist_rollup ul.column4 { width: 1273px; margin-left: -36px; }
.prdlist_default ul.column5 li.item { width:20%; }
.prdlist_default ul.column5 li.item .box { width:189px; }
.prdlist_default ul.column5 li.item .thumb { max-width:187px; }


/* �곹뭹由ъ뒪�� 濡ㅼ삤踰� */
.prdlist_rollup { }
.prdlist_rollup img { vertical-align: middle; }
.prdlist_rollup ul.prdList { display: table; width: 100%; margin: 0; font-size: 0; line-height: 0; }
.prdlist_rollup ul.prdList li.item { display: inline-block; margin: 0; vertical-align: top; *display:inline; *zoom:1; }
.prdlist_rollup ul.prdList li.item .box { position: relative; margin: 0 auto 20px; font-size: 11px; line-height: 20px; text-align: left; }
.prdlist_rollup ul.prdList a, .prdlist_rollup ul.prdList span { font-family: 'Raleway','Nanum Gothic',sans-serif; font-weight: 500; }
.prdlist_rollup ul.prdList .prdImg{ width: 100%; margin:0 0 10px; }
.prdlist_rollup ul.prdList .thumb { width: 100%; height: auto; }
.prdlist_rollup ul.prdList .prd_info_box { display: none; position: absolute; left: 0; bottom: 0; width: 100%; height: auto; overflow: hidden; padding: 20px 0; background: url('../images/black_flim.png'); }
.prdlist_rollup ul.prdList .name { text-align: left; }
.prdlist_rollup ul.prdList .name a { letter-spacing: 0.5px; color:#fff; font-size: 13px !important;}
.prdlist_rollup ul.prdList .name span { color:#fff; font-size: 13px !important; }
.prdlist_rollup ul.prdList .name .title { font-weight:normal; }

.prdlist_rollup ul.prdList .prd-consumer { display: none; color: #fff; text-decoration: line-through; }
.prdlist_rollup ul.prdList .prd-price { font-size: 12px; color: #fff; font-family: "Montserrat","Nanum Gothic",sans-serif; font-weight: 500; }
.prdlist_rollup ul.prdList .icon { display: none; width: 100%; height: auto; }
.prdlist_rollup ul.prdList .list_info span { font-family: 'Montserrat','Nanum Gothic',sans-serif; font-weight: 500; color:#fff; }
.prdlist_rollup ul.prdList .list_info .prd_pr{display:inline-block;color:#fff; font-size:14px;}

.prdlist_rollup ul.prdList .name, .prdlist_rollup ul.prdList .list_info, .prdlist_rollup ul.prdList .icon { margin-left: 25px; }


.prdlist_rollup ul.column3 { width: 14000px; margin-left: -7px; }
.prdlist_rollup ul.column3 li.item { width: 455px; }
.prdlist_rollup ul.column3 li.item .box { width: 440px; height: auto; }
.prdlist_rollup ul.column3 li.item .thumb {width: 440px;/*height:300px;*/ }

.prdlist_rollup ul.column4 { width:1300px;}
.prdlist_rollup ul.column4 li.item { width:310px;margin-left:20px; }
.prdlist_rollup ul.column4 li.item:first-child{margin-left:0;}
.prdlist_rollup ul.column4 li.item .box {width:310px; }
.prdlist_rollup ul.column4 li.item .thumb {width:310px;height:310px;}
.prdlist_rollup ul.column4 .prd_info_box {width:310px;}

.prdlist_rollup ul.column5 { width: 1210px; margin-left: -5px; }
.prdlist_rollup ul.column5 li.item { width: 20%; }
.prdlist_rollup ul.column5 li.item .box { width: 230px; }
.prdlist_rollup ul.column5 li.item .thumb { max-width: 230px; }
.prdlist_rollup ul.column5 .prd_info_box { margin: 10px; width: 210px; }

.prdlist_rollup ul.column6 { width: 1205px; margin-left: -2px; }
.prdlist_rollup ul.column6 li.item { width: 16.666%; }
.prdlist_rollup ul.column6 li.item .box { width: 195px; }
.prdlist_rollup ul.column6 li.item .thumb { max-width: 195px; }
.prdlist_rollup ul.column6 .prd_info_box { margin: 10px; width: 180px; }



.item-none { width: 100%; min-height: 300px; text-align: center; padding: 20px 0px; clear: both; }


.item-page { margin: 40px 0; text-align: center; width: 100%; height: auto; overflow: hidden; line-height: 30px; }
.item-page a { padding: 0 5px; font-family: "Ubuntu","Nanum Gothic","dotum","arial",AppleGothic,sans-serif; font-size: 13px; }
.item-page a:hover,
.item-page a.now { font-weight: bold; letter-spacing: -1px; }


.board_top { text-align: center; width: 100%; height: auto; overflow: hidden; margin-bottom: 30px; }
.board_top .prd_tlt h2 { display: inline-block; *display:inline: ; *zoom:1: ; width: 100%; height: auto;  margin-bottom: 30px; text-align: left; }
.board_top .prd_tlt h2 font { font-size: 40px; line-height: 45px; color: #272727; font-weight: 300; font-family: "Julius Sans One","Nanum Gothic",sans-serif; }
.board_top .prd_tlt span.dscrt { display: none; }
.board_top ul { display:inline-block; *display:inline; *zoom:1; text-align: left; width: 100%; height: auto; }
.board_top ul li { display:inline-block; *display:inline; *zoom:1; padding: 0 20px 0 0; }
.board_top ul li a { font-family: "Raleway","Nanum Gothic",sans-serif; color: #555;  font-weight: 500; font-size: 11px; letter-spacing: 1px; text-transform: uppercase; }


.page_default { width: 1208px; padding: 20px; border-radius: 5px; background: #f4f4f4; border: 1px #d7d5d5 solid; }
.page_default .page_inner { width: 1166px; padding: 20px; border-radius: 5px; background: #fff;border: 1px #d7d5d5 solid; }

#page_guide .cont h3 { margin:0 0 20px; color:#444; font-size:12px; }
#page_guide .cont { padding:27px 10px 46px 9px; color:#353535; line-height:18px; font-size: 11px; }

#page_agree { color:#8f8f8f; font-size:11px; line-height:160%; }
#page_agree  .agreement p { padding: 0 0 17px; }

.btn_inner_txt { display: none; width: 90%; font-size: 11px; color: #ccc; padding-left: 5px; }

.prdlist_default .mproduct_area{padding:0;}


.mproduct_area{padding:90px 0 30px;}
.prdlist_default .mproduct_area{/* padding:0; */ /* padding-left: 65px; */}
.mproduct_area.relatedpro_area{padding:0;}
.mproduct_area ul{width:1330px;font-size:0;letter-spacing:-5px;overflow:hidden;}
.mproduct_area li{font-size:12px;letter-spacing:0;display:inline-block;vertical-align:top;*display:inline;zoom:1;width:302px;min-height:462px;margin: 0 95px 60px 0px;}
.mproduct_area li > a{display:block;border:1px solid #f4f4f4;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.mproduct_area li > a:hover{border:1px solid #8ca15a;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}

.mproduct_area .img{position:relative;border-bottom:1px solid #f4f4f4;}
.mproduct_area .img .ico_best{font-family:'Nunito', sans-serif;position:absolute;left:0;top:0;display:block;width:56px;height:44px;color:#8ca15a;font-size:12px;padding:8px 0 10px;background:#463b37;text-align:center;text-transform:uppercase;}
.mproduct_area .img .ico_best span{display:block;font-size:27px;line-height:27px;color:#fff;font-weight:700;}
.mproduct_area .img img{width:300px;height:300px;}

.mproduct_area dl{padding:28px;}
.mproduct_area dt{font-size:19px;line-height:19px;color:#463b37;letter-spacing:-1px;}
.mproduct_area dd.txt{font-size:13px;min-height:13px;line-height:13px;color:#908987;padding-top:10px;letter-spacing:-1px;}
.mproduct_area dd.txt span{padding-right:5px;}

.mproduct_area dd.price_box{position:relative;margin-top:20px;padding:18px 0 2px;border-top:1px solid #f4f2ea;}
.mproduct_area dd.price_box .price_discount{font-size:13px;color:#999;padding-right:5px;}
.mproduct_area dd.price_box .price_consumer{font-size:13px;color:#999;padding-right:5px;}
.mproduct_area dd.price_box .price{font-size:16px;line-height:16px;color:#8ca15a;}

.mproduct_area dd.price_box .rev{position:absolute;right:0;top:16px;font-family:'Nunito', sans-serif;font-size:10px;display:inline-block;height:22px;line-height:22px;color:#fff;padding:0 12px;background:#463b37;border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;text-transform:uppercase;}

.mstore_area{padding:115px 0;background:url("../images/bg_mstore5.jpg") no-repeat center 0;background-size:cover;}
.mstore_area.thyou_bot{margin-top:90px;}
.mstore_area.thyou_bot dl{width:966px;}
.mstore_area.thyou_bot dd.txt1{letter-spacing:-3px;}
.mstore_area dl{position:relative;width:1300px;margin:0 auto;padding:196px 0 90px;background:#fff url("../images/bg_mstore3.png") no-repeat center 90px;text-align:center;}
.mstore_area dt{}
.mstore_area dt img{height:23px;}
.mstore_area dd.txt1{font-size:50px;line-height:62px;color:#463b37;margin:35px 0 25px;letter-spacing:-2px;font-weight:300;}
.mstore_area dd.txt1 span{display:block;color:#8ca15a;}
.mstore_area dd.txt2{font-size:14px;line-height:25px;color:#908987;margin-bottom:35px;}
.mstore_area dd.btn_stmore{text-align:center;}
.mstore_area dd.btn_stmore a{font-size:16px;color:#fff;display:inline-block;height:64px;line-height:64px;letter-spacing:-1px;padding:0 28px;background:#8ca15a;border-radius:30px;-ms-border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.mstore_area dd.btn_stmore a span{padding-left:40px;}
.mstore_area dd.btn_stmore a:hover{background:#463b37;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.mstore_area dd.ico_st{position:absolute;right:65px;bottom:60px;width:125px;height:131px;}
.mstore_area dd.ico_st img{width:100%;}isplay:inline-block;height:22px;line-height:22px;color:#fff;padding:0 12px;background:#463b37;border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;text-transform:uppercase;}
 
.mforspac_area{padding:90px 0;background:#f4f6ee;}
.mforspac_area dt{font-family:'Nunito', sans-serif;font-size:20px;color:#463b37;padding:65px 0 0;text-align:center;background:url("../images/ico_mspday.png") no-repeat 50% 0;background-size:37px 40px;letter-spacing:6px;font-weight:700;}
.mforspac_area dd.txt{font-size:50px;line-height:50px;color:#463b37;padding:22px 0 80px;letter-spacing:-2px;font-weight:300;text-align:center}
.mforspac_area dd.txt span{color:#8ca15a;}
.mforspac_area ul{overflow:hidden;}
.mforspac_area li{float:left;width:413px;margin-left:30px;}
.mforspac_area li:first-child{margin-left:0;}
.mforspac_area dd.btn_fsmore{text-align:center;margin-top:60px;}
.mforspac_area dd.btn_fsmore a{font-size:16px;color:#fff;display:inline-block;height:64px;line-height:64px;letter-spacing:-1px;padding:0 28px;background:#8ca15a;border-radius:30px;-ms-border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.mforspac_area dd.btn_fsmore span{padding-left:40px;}
.mforspac_area dd.btn_fsmore a:hover{background:#463b37;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}

.mphreview_area{padding:90px 0 60px;background:#f4f6ee;}
.mphreview_area ul{width:1330px;font-size:0;letter-spacing:-5px;overflow:hidden;margin-left:-30px;}
.mphreview_area li{position:relative;font-size:12px;letter-spacing:0;display:inline-block;vertical-align:top;*display:inline;zoom:1;width:236px !important;height:236px;margin:0 0 30px 30px;overflow:hidden;}
.mphreview_area li a{display:block;}
.mphreview_area li .img{position:relative;width:234px;height:234px;z-index:1;border:1px solid #eaeaea;}
.mphreview_area li .img img{width:234px;height:234px;}
.mphreview_area li .infobox{display:none;position:absolute;left:0;right:0;top:0;bottom:0;color:#e7e7e7;font-size:14px;width:236px;height:236px;overflow:hidden;padding:105px 10px 0;color:#fff; background:url('../images/bg_mspe.png') repeat 0 0;z-index:3;text-align:center;box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

.mspc_area{padding:90px 0;}
.mspc_area ul{overflow:hidden;}
.mspc_area li{float:left;width:635px;height:688px;border:1px solid #f3f1e9;margin-left:30px;box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.mspc_area li:first-child{margin-left:0;}
.mspc_area dl{padding:60px;letter-spacing:-1px;}
.mspc_area dt{font-size:34px;line-height:34px;color:#8ca15a;margin-bottom:22px;font-weight:300;}
.mspc_area dd{font-size:15px;line-height:23px;}
.mspc_area dd.txt1{color:#908987;margin-bottom:12px;}
.mspc_area dd.txt2 span{color:#463b37;}

.mainboard_area{padding:90px 0;background:#f4f6ee;}
.mainboard_area .sunny_inner{overflow:hidden;}
.mainboard_area .mb_box{float:left;width:413px;margin-left:30px;}
.mainboard_area .mb_box:first-child{margin-left:0;}
.mainboard_area .mb_box dl{position:relative;border:1px solid #eaeaea;background:#fff;}
.mainboard_area .mb_box dt{font-family:'Nunito', sans-serif;font-size:15px;height:68px;line-height:68px;color:#463b37;border-bottom:1px solid #eaeaea;padding:0 30px;text-transform:uppercase;font-weight:700;}
.mainboard_area .mb_box dd.list_con{padding:22px 30px 25px;height:234px;}
.mainboard_area .mb_box dd.list_con ul{}
.mainboard_area .mb_box dd.list_con li{}
.mainboard_area .mb_box dd.list_con li a{display:block;color:#666;line-height:26px;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.mainboard_area .mb_box dd.list_con li a:hover{color:#8ca15a;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.mainboard_area .mb_box dd.btn_bmore{position:absolute;right:30px;top:26px;}
.mainboard_area .mb_box dd.btn_bmore a{font-size:11px;color:#91949b;letter-spacing:-1px;}


.mcscenter_area{padding:90px 0;}
.mcscenter_area .sunny_inner{overflow:hidden;}
.mcscenter_area .mcs_box{float:left;width:413px;margin-left:30px;}
.mcscenter_area .mcs_box:first-child{margin-left:0;}
.mcscenter_area .mcs_box dl{position:relative;border:1px solid #eaeaea;height:290px;background:#fff;}
.mcscenter_area .mcs_box dt{font-family:'Nunito', sans-serif;font-size:15px;height:58px;line-height:58px;color:#463b37;border-bottom:1px solid #eaeaea;padding:0 30px;text-transform:uppercase;font-weight:700;text-align:center;letter-spacing:2px;}
.mcscenter_area .mcs_box dd{padding:27px 30px;}
.mcscenter_area .mcs_box dd.pdnone{position:relative;padding:0;z-index:1;}
.mcscenter_area .mcs_box dd h3{color:#463b37;font-size:16px;line-height:16px;margin:10px 0 38px;letter-spacing:-1px;}
.mcscenter_area .mcs_box dd h3 span{border-bottom:1px solid #666;}
.mcscenter_area .mcs_box .num1{font-family:'Nunito', sans-serif;color:#463b37;font-size:34px;line-height:34px;padding:15px 0;letter-spacing:-1px;font-weight:700;}
.mcscenter_area .mcs_box .num2 li{}
.mcscenter_area .mcs_box .num2 li span{display:inline-block;color:#463b37;font-size:14px;line-height:14px;margin-bottom:15px;}
.mcscenter_area .mcs_box .num2 li span.t2{font-family:'Nunito', sans-serif;font-weight:700;letter-spacing:2px;padding-left:10px;}

.mcscenter_area .mcs_box .txt1{font-family:'Nunito', sans-serif;color:#908987;font-size:11px;line-height:17px;font-weight:600;}
.mcscenter_area .mcs_box .txt2{color:#666;font-size:12px;line-height:17px;letter-spacing:-1px;}
.mcscenter_area .mcs_box .txt3{color:#666;font-size:14px;line-height:14px;letter-spacing:-1px;padding-top:18px;}

.mcscenter_area .mcs_box .btn_mcs{padding:0;margin-top:14px;}
.mcscenter_area .mcs_box .btn_mcs a{font-size:13px;color:#fff;display:inline-block;height:30px;line-height:30px;letter-spacing:-1px;padding:0 12px;background:#8ca15a;border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.mcscenter_area .mcs_box .btn_mcs span{padding-left:40px;}
.mcscenter_area .mcs_box .btn_mcs a:hover{background:#463b37;transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.mcscenter_area .mcs_box .txt_csdog{padding:0;position:absolute;right:39px;bottom:39px;width:55px;height:58px;background:url("../images/ico_csdog.png") no-repeat 0 0;background-size:55px 58px;}
.mcscenter_area .mcs_box .txt_csdog .ico_mcsball{position:absolute;left:-17px;top:-55px;width:127px;height:48px;}
.mcscenter_area .mcs_box .txt_csdog .ico_mcsball img{width:100%;}

.mcscenter_area .mcs_box .play_feat .play_thumb{position:absolute;left:0;top:0;z-index:2;cursor:pointer;}
.mcscenter_area .mcs_box .play_feat iframe{position:relative;z-index:1;}

.mfixban_area{min-width:1300px;height:240px;margin:30px 0 0;background-image: url("../images/bg_mfixban.jpg");background-position:50% 50%;background-size:cover;background-attachment:fixed;background-repeat:no-repeat;text-align:center;}
.mfixban_area .sunny_inner{padding-top:75px;}
.mfixban_area span{display:block;color:#fff;font-size:20px;line-height:20px;margin-bottom:18px;letter-spacing:-1px;}
.mfixban_area img{width:650px;}



/* 인기순 */
#productClass .prd-class-hd .loc-navi {display:none;float: right; color: #272727;  }
#productClass .prd-class-hd .loc-navi a { color: #272727; }
    /* class-list */
#productClass .class-list { zoom: 1; overflow: hidden; padding: 20px 15px 30px 0 }
#productClass .class-list li{width:13.5% !important;}
#productClass .class-list li,
#productClass .class-list li a { float: left; width: auto; white-space: nowrap; }
#productClass .class-list li{margin:0 0 10px 10px;}
.mcate{margin-left:-10px;overflow:hidden;}
.mcate li a { display:block;width:100% !important;padding:10px 20px 11px 20px; font-size:14px; border:1px solid #e7e7e7; text-align:center; border-radius:4px; transition:all 0.5s ease;box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.mcate li a:hover {color:#d65a47; border:1px solid #d65a47; transition:all 0.5s ease; }
    /* best-item */
#productClass .best-item { padding-top: 20px; padding-bottom: 10px; border-top: 2px solid #5c5c5c; border-bottom: 2px solid #5c5c5c; background-color: #f8f8f8; }
#productClass .best-item h3 { margin-left: 20px; font-size: 0; line-height: 0;}
    /* total-sort */
#productClass .total-sort {padding-bottom:15px; /* padding-top: 30px; */ }
#productClass .total-sort li a { font-size:12px !important; /*border-bottom:2px solid #f5c63a;*/ padding-bottom:4px; margin:5px; display:inline-block; text-align:right; }

.cate-wrap { margin-top:-20px !important; }


.total-sort { zoom: 1; overflow: hidden; margin-top: 183px; /* padding-bottom: 5px; border-bottom: 1px solid #e5e5e5;  */}
/* total */
.total-sort .total { float: left; width: auto; padding-bottom: 10px;/*padding-left:4px;*/line-height: 20px;font-size: 11px;color: #e07073}
.total-sort .total strong{font-weight:900;}
/* .total-sort .total dt,
.total-sort .total dd { display: inline; }
.total-sort .total dd { font-weight: bold; }
.total-sort .total dt { text-transform: capitalize; } */
/* sort */
.total-sort .sort { float: right; width: auto; display: inline; margin-right:4px; }
.total-sort .sort li,
.total-sort .sort li a { float: left; width: auto;color: #666;font-size: 11px;}
.total-sort .sort li { display: inline; margin-left: 10px; }
/* 寃뚯떆�� 珥앷쾶�쒓�,PAGE */
.total-page { zoom: 1; overflow: hidden; }
.total-page .total { float: left; width: auto; }
.total-page .page { float: right; width: auto;}



/*검색  */
.shop_section .main_menu {
    clear: both;
    /* float: right; */
    text-align: center;
}
.shop_section .main_menu .searchArea input {
    width: 229px;
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
    font-size: 12px;
    border: 1px solid #f0efef;
    border-radius: 20px;
    background: #f6f6f6;
}
.shop_section .main_menu .searchArea a {
    display: inline-block;
    vertical-align: middle;
}


