.container {clear: both;}
.container_subWrap {width: 1100px; padding: 0 0 0 0; margin: 43px auto 150px;}

.promotionSlide {width: 100%; min-width: 1100px; height: 469px; margin: 0 auto; overflow: hidden;}
.promotionSlide li {}
.promotionSlide li a {}

.categoryBanner {width: 1100px; margin: 66px auto 0;}
.categoryBanner a {display: block; float: left; width: 353px; height: 221px; text-align: center; color: #fff;}
.categoryBanner a.cateBn01 {background: url(../images/img_cateBn01.jpg) no-repeat 0 0;}
.categoryBanner a.cateBn02 {width: 354px; margin: 0 20px; background: url(../images/img_cateBn02.jpg) no-repeat 0 0;}
.categoryBanner a.cateBn03 {background: url(../images/img_cateBn03.jpg) no-repeat 0 0;}
.categoryBanner a span {display: block; font-size: 15px;}
.categoryBanner a span.cateBn_sbj {padding: 0 0 15px 0; margin: 0 0 15px 0; font-size: 17px; background: url(../images/ico_hor_bar.gif) no-repeat center bottom;}

.bigCate {position: relative; clear: both; width: 100%; min-width: 1100px; padding: 90px 0 0 0; margin: 0 auto;}
.sub_bigCate {padding: 40px 0 0 0;}

.bigCate .objTit {display: block; width: 1100px; height: 22px; padding: 0 auto 75px; line-height: 22px; margin: 0 auto; text-align: center; background: url(../images/bg_cate_line.gif) repeat-x 0 center;}
.bigCate .objTit span {padding: 0 40px; font-size: 28px; font-weight: 600; background: #fff;}
.bigCate .objTit_sub {text-align: left;}
.bigCate .objTit_sub span {padding: 0 20px; font-weight: normal;}

.bigCate .prdFilter {float: left; width: 192px;}
.bigCate .prdFilter > li {padding: 13px 10px; font-size: 14px; fontprdInfo-weight: 600; border-bottom: 1px solid #858586;}
.bigCate .prdFilter > li:first-child {font-size: 16px;}
.bigCate .prdFilter > li > a {padding: 5px 0 5px 20px; background: url(../images/ico_arrow.gif) no-repeat 0 center;}
.bigCate .prdFilter > li ul {margin: 5px 0 0 0; }
.bigCate .prdFilter > li ul li {padding: 0 0 7px 0; font-weight: normal;}
.bigCate .prdFilter > li ul li .innerSearch_wrap {display: block; width: 182px; height: 33px; margin: 0 0 15px 0; line-height: 33px; border: 1px solid #f0efef; background: #f6f6f6;}
.bigCate .prdFilter > li ul li .innerSearch_wrap input {width: 145px; height: 33px; padding: 0 0 0 10px; border: none; background: transparent;}
.bigCate .prdFilter > li ul li .innerSearch_wrap a {display: inline-block; height: 33px;}
.bigCate .prdFilter > li ul li .innerSearch_wrap a img {vertical-align: middle;}

.bigCate .brandList {min-width: 1100px; padding: 13px 0; text-align: center; background: url(../images/bg_brandList.jpg) repeat-x 0 0;}
.bigCate .brandList li {display: inline-block; width: 154px; height: 60px; margin: 0 2px;}

.bigCate .prdSlide_btn {position: absolute; width: 1100px; top: 50%;}
.bigCate .prdSlide_btn a {display: block; position: absolute;}
.bigCate .prdSlide_btn a.slidePrev {left: 30px;}
.bigCate .prdSlide_btn a.slideNext {right: 30px;}
.bigCate .prdSlide {}
.bigCate .prdSlide .prdView {}
.bigCate .prdSlide .prdView li{}

/* �곹뭹 由ъ뒪�� 怨듯넻 */
/*  .prdArea {width: 800px; margin: 45px auto 100px;}*/
.prdArea {width: 800px; margin: 45px;}
.prdArea.sideArea {width: 800px; float: right;}
.prdArea > li {position: relative; float: left; width: 258px; height: auto; margin: 0 0 25px 0; border: 1px solid #fff;}
.prdArea > li:nth-child(3n+2) {margin: 0 10px;}
.prdArea > li:hover {border: 1px solid #152735;}
.prdArea > li a {width: 100%;}
.prdArea > li a .prdImg_section {display: block; width: 258px;}
.prdArea > li a .prdImg_section img {width: 100%;}
.prdArea > li a .prdInfo_section {text-align: center; line-height: 21px; font-size: 14px;}
.prdArea > li a .prdInfo_section strong {display: block;}
.prdArea > li a .prdInfo_section span {display: block;}
.prdArea > li a .prdInfo_section .prdInfo_name {}
.prdArea > li a .prdInfo_section .prdInfo_price {}
.prdArea > li a .prdFlag {display: block; position: absolute; top: 0; right: 0;}
.prdArea > li a .prdFlag img {display: block; margin: 0 0 3px 0;}
.prdHover {display: none; position: absolute; width: 96px; height: 36px; top: 213px; left: 50%; margin: 0 0 0 -48px;}
.prdHover a {position: relative; float: left; width: 48px; height: 36px; background: rgba(12,13,17,0.5);}
.prdHover a:hover {background: #232a32;}
.prdHover a img {display: block; position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px;}


/*�쒗뭹 留덉슦�ㅼ삤踰꾩떆 誘몃━蹂닿린/�λ컮援щ땲 踰꾪듉 �앹꽦 */
.prdArea > li:hover .prdHover {display: block;}


.eventBanner {width: 100%; height: 156px;
	/* 洹몃씪�곗씠�� 諛곌꼍*/
	background: #f6f1ed; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f3eeea, #fcf8f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f3eeea, #fcf8f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f3eeea, #fcf8f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f3eeea, #fcf8f4); /* Standard syntax */

}
.eventBanner img {display: block; margin: 0 auto;}

.sub_cate_topBn {display: block; margin: 40px auto 0;}

/* �쒗뭹 誘몃━蹂닿린 */
/* �곸꽭踰꾩쟾 */
/*.prdPreview_wrap {position: fixed; width: 860px; top: 20%; left: 50%; padding: 10px 35px 35px; margin: 0 0 0 -415px; border: 2px solid #232a32; box-sizing: border-box; background: #fff;}

.prdPreview_wrap .prd_preview_leftSec {width: 270px;}
.prdPreview_wrap .prdInfo_section {width: 270px; float: left;}
.prdPreview_wrap .prdInfo_section .col1 {width: 100%;}
.prdPreview_wrap .prdInfo_section .col1 .prdImg {width: 100%; height: 270px;}
.prdPreview_wrap .prdInfo_section .col1 .prdImg img {width: 100%;}
.prdPreview_wrap .prdInfo_section .col1 .prdThumb {text-align: center;}
.prdPreview_wrap .prdInfo_section .col1 .prdThumb li {display: inline-block; float: none;}

.prdPreview_wrap .prd_preview_rightSec {width: 470px;}
.prdPreview_wrap .prdName_section {width: 350px; padding: 20px 120px 10px 0; margin: 0;}
.prdPreview_wrap .prdName_section .prd_name {line-height: 22px; font-size: 17px;}
.prdPreview_wrap .prdName_section .view_prdDetail {display: block; position: absolute; width: 68px; height: 50px; top: 44px; right: 40px; font-size: 18px; text-align: right;}
.prdPreview_wrap .prdName_section .view_prdDetail:hover {opacity: 0.7;}
.prdPreview_wrap .prdName_section .view_prdDetail img {display: inline-block;}
.prdPreview_wrap .prdInfo_section .col2 {width: 470px;}
.prdPreview_wrap .prdInfo_section .col2 table .counter_prdname {width: 210px !important;}
.prdPreview_wrap .prdInfo_section .col2 .prdBtns .btn_dark_l {margin: 0 16px !important;}
.prdPreview_wrap .prdInfo_section .col2 .prdBtns .btn_line_l {height: auto; padding: 8px 0 5px 0; line-height: normal; font-size: 11px;}
.prdPreview_wrap .prdInfo_section .col2 .prdBtns .btn_line_l img {display: block; margin: 0 auto 7px;}

.prdPreview_wrap .btn_prdPreview_close {position: absolute; top: -40px; right: -40px;}*/

/* �⑥닚踰꾩쟾 */
/* .prdPreview_wrap {position: fixed; width: 568px; top: 15%; left: 50%; padding: 10px 35px 35px; margin: 0 0 0 -284px; border: 2px solid #232a32; box-sizing: border-box; background: #fff;z-index: 2000;}

.prdPreview_wrap .prd_infoWrap {width: auto;}
.prdPreview_wrap .prdName_section {width: auto; padding: 20px 0 10px 0; margin: 0;}
.prdPreview_wrap .prdName_section .prd_name {line-height: 22px; font-size: 17px;}
.prdPreview_wrap .prdName_section .view_prdDetail {display: block; position: absolute; height: 50px; top: 44px; right: 40px; font-size: 18px; text-align: right;}
.prdPreview_wrap .prdName_section .view_prdDetail:hover {opacity: 0.7;}
.prdPreview_wrap .prdName_section .view_prdDetail img {display: inline-block;}
.prdPreview_wrap .prdInfo_section .col2 {width: 470px;}
.prdPreview_wrap .prdInfo_section .col2 table .counter_prdname {width: 210px !important;}
.prdPreview_wrap .prdInfo_section .col2 .prdBtns .btn_dark_l {margin: 0 16px !important;}
.prdPreview_wrap .prdInfo_section .col2 .prdBtns .btn_line_l {height: auto; padding: 8px 0 5px 0; line-height: normal; font-size: 11px;}
.prdPreview_wrap .prdInfo_section .col2 .prdBtns .btn_line_l img {display: block; margin: 0 auto 7px;}

.prdPreview_wrap .prdInfo_section .col1 {width: 494px;}
.prdPreview_wrap .prdInfo_section .col1 .prdImg {width: 400px; height: 400px;}
.prdPreview_wrap .prdInfo_section .col1 .prdImg img {width: 100%;}
.prdPreview_wrap .prdInfo_section .col1 .prdThumb {width: 62px; margin: 0; vertical-align: middle;}
.prdPreview_wrap .prdInfo_section .col1 .prdThumb li {display: block; float: none; margin: 0 0 5px 0;}

.prdPreview_wrap .btn_prdPreview_close {position: absolute; top: 20px; right: 20px;} */






/* 怨듯넻 �뚯씠釉� css */
.basic_tableStyle {width: 100%; border-top: 1px solid #0b0c0e; font-size: 13px;}
.basic_tableStyle tr {border-bottom: 1px solid #e6e6e6; line-height: 18px;}
.basic_tableStyle th {padding: 15px 0; background: #fafafa;}
.basic_tableStyle.td_fs12 td {font-size: 12px;}
.basic_tableStyle.td_p0 td {padding: 9px 0;}
/*.basic_tableStyle tr:hover {background: #fdfdfd;}*/
/*.basic_tableStyle tr.current {background: #fafafa;}*/
.basic_tableStyle tr.current {border-bottom: none;}
.basic_tableStyle tr.current td:nth-child(2) {font-weight: 600;}
.basic_tableStyle td {padding: 15px 0; text-align: center; font-size: 12px;}
.basic_tableStyle td.tl {padding-left: 10px;}
.basic_tableStyle td a {}
.basic_tableStyle td a.current {font-weight: 600;}
.basic_tableStyle td a img {margin: 0 0 0 7px; vertical-align: middle;}

.basic_tableStyle tr.view_tableTit td {cursor: pointer;}

.basic_tableStyle tr.view_tableCn td {padding-left: 35px; line-height: 20px; text-align: left;}
.basic_tableStyle tr.view_tableCn td span {display: block; clear: both; padding: 0 0 12px 0;}
.basic_tableStyle tr.view_tableCn td img {display: block;}
.basic_tableStyle tr.view_tableCn .eachStars {}
.basic_tableStyle tr.view_tableCn .eachStars li {float: left; margin: 0 13px 10px 0; font-weight: bold;}
.basic_tableStyle tr.view_tableCn .eachStars li img {display: inline-block; vertical-align: middle;}
.basic_tableStyle tr.view_tableCn .Qsec {padding: 0 0 10px 27px; background: url(../images/ico_qna_q.gif) no-repeat 0 0;}
.basic_tableStyle tr.view_tableCn .Asec {padding: 0 0 0 27px; background: url(../images/ico_qna_a.gif) no-repeat 0 0;}

/* 3�� 30�� �꾩듅�곗텛媛� */
.basic_tableStyle tr.view_tableCn .answerSec {clear: both; padding: 20px 0;}
.basic_tableStyle tr.view_tableCn .answerSec li {padding: 10px 15px; margin-bottom: 5px; background: #fbfbfb;}
.basic_tableStyle tr.view_tableCn .answerSec li strong,
.basic_tableStyle tr.view_tableCn .answerSec li span {display: inline-block; padding: 0 10px 0 0;}

.basic_tableStyle tr.view_tableCn02 td {padding-left: 0; line-height: 20px;}

.basic_tableStyle_vert tr {}
.basic_tableStyle_vert th {padding: 15px 0 15px 15px; text-align: left; background: #fafafa;}

table .tableThumb_small {display: block; float: left; width: 62px; height: 62px;}
table .tableThumb_small img {width: 100%;}
table .prdInfo {margin-left:40px; width: 430px; padding: 14px 0 0 13px;}
table .prdInfo a {display: block; word-break: break-all; overflow: hidden; text-overflow: ellipsis; margin-left:35px;}
table .prdInfo .info {display: block; word-break: break-all; overflow: hidden; text-overflow: ellipsis; margin-left:35px;}

.inputWrap {text-align: center;}
.inputWrap span {display: inline-block; padding: 0 10px;}

/* �뚯씠釉� 移댄뀒怨좊━ */
.table_cate {margin: 32px 0 0 0; padding: 16px 0; font-size: 12px; border-top: 1px solid #232a32;}
.table_cate li {float: left; padding: 0 0 0 15px;}
.table_cate li a {color: #606162;}
.table_cate li a:hover,
.table_cate li a.current {font-weight: 600; color: #232a32;}

/* �섏씠吏�*/
.pagination {margin: 50px 0 0 0; text-align: center;}
.pagination a {display: inline-block; width: 26px; height: 26px; margin: 0 2px; line-height: 26px; text-align: center; font-size: 12px; border: 1px solid #999999;}
.pagination a.current {color: #fff; background: #999;}
.pagination .btn_table_prev {background: url(../images/front/detail/ico_paging_prev.gif) no-repeat center center;}
.pagination .btn_table_next {background: url(../images/front/detail/ico_paging_next.gif) no-repeat center center;margin-left: 5px;}



/* 怨좉컼�쇳꽣 */
/* 怨좉컼�쇳꽣 : left section */
.cusSec_left {float: left;}

.customerMenu {width: 190px; padding: 0 17px; margin: 0 0 8px 0; border: 1px solid #d3d3d5; box-sizing: border-box;}
.customerMenu h3 {padding: 23px 0 18px 0; text-align: center; font-size: 17px; font-weight: 600; border-bottom: 1px solid #232a32;}
.customerMenu h4 {padding: 17px 0 5px 0; font-size: 14px; font-weight: 600;}
.customerMenu .csSubmenu {}
.customerMenu .csSubmenu > li {padding: 18px 0; font-size: 15px; font-weight: 600; border-bottom: 1px solid #e3e3e3;}
.customerMenu .csSubmenu > li:last-child {border-bottom: none;}
.customerMenu .csSubmenu > li ul {padding: 7px 0 0 0;}
.customerMenu .csSubmenu > li ul li {font-size: 13px; font-weight: normal;}
.customerMenu .csSubmenu > li ul li a {padding: 3px 0; color: #606162;}
.customerMenu .csSubmenu > li ul li a:hover,
.customerMenu .csSubmenu > li ul li a.current {text-decoration: underline;}
.customerMenu .csNumber {font-size: 20px; font-weight: 600;}
.customerMenu .csTime {padding: 0 0 15px 0; font-size: 13px;}
.customerMenu .csTime li {padding: 10px 0 0 0; line-height: 18px;}
.customerMenu .csTime li .c_gray{display: block;}


/* �⑥쥒而쇽옙�녠숲 : right section */
.cusSec_right {float: right; width: 878px;}

.box_cusMain {position: relative; width: 100%; padding: 32px; border: 2px solid #232a32; box-sizing: border-box;}
.box_cusMain .box_leftSec {float: left; width: 50%; font-size: 13px; border-right: 1px solid #e3e3e3;}
.box_cusMain .box_leftSec h5 {padding: 0 0 12px 0; margin: 0 0 12px 0; font-size: 27px; font-weight: 600; background: url(../images/ico_hor_bar02.gif) no-repeat 0 bottom;}
.box_cusMain .box_leftSec h5 span {display: block; padding: 5px 0 0 0; font-size: 15px; font-weight: normal;}
.box_cusMain .box_rightSec {float: left; padding: 0 0 0 60px;}
.box_cusMain .box_rightSec .c_gray {padding: 12px 0; font-size: 12px;}
.box_cusMain .box_rightSec .csNumber_main {font-size: 23px; font-weight: 600;}
.box_cusMain .box_rightSec .btn_dark_square {position: absolute; top: 50%; right: 50px; margin: -40px 0 0 0;}

h2.cs_sbj {padding: 10px 0 0 0; font-size: 28px;}
h2.cs_sbj .c_gray {display: block; padding: 5px 0 0 0; font-size: 13px;}

.justWrap {position: relative;}
.justWrap .btn_dark_m {position: absolute; top: 50%; right: 0; margin: -20px 0 0 0;}

.dot_list {font-size: 12px;}
.dot_list li {padding: 0 0 0 10px; line-height: 18px; background: url(../images/ico_dot_list.gif) no-repeat 0 50%;}

.faq_searchSec {width: 100%; height: 70px; margin: 25px 0 0 0; background: #fafafa;}
.faq_searchSec tr {}
.faq_searchSec tr td {text-align: center; line-height: 31px;}
.faq_searchSec tr td input {width: 370px; height: 37px; padding: 0 10px; font-size: 13px; border: 1px solid #232a32; box-sizing: border-box;}
.faq_searchSec tr td .search_subMenu {text-align: center;}
.faq_searchSec tr td .search_subMenu li {display: inline-block; padding: 0 4px; font-size: 12px; font-weight: 600;}
.faq_searchSec tr td .search_subMenu li a {color: #9a9b9c;}
.faq_searchSec tr td .search_subMenu li a:hover {text-decoration: underline;}
table tr td .inputAround {display: block; float: left; width: 150px; height: 33px; line-height: 33px; box-sizing: border-box; border: 1px solid #232a32; background: #fff;}
table tr td .inputAround .inside_input {display: block; float: left; width: 110px; border: none; background: transparent;}
table tr td .inputAround a {}
table tr td a {vertical-align: block;}
table tr td .btn_date:hover,
table tr td .btn_date.current {color: #fff; background: #232a32;}


.cusSec_tableWrap {padding: 60px 0 0 0; margin-bottom: 5px;}
/*.cusSec_tableWrap.tw_wFull {width: 878px;}*/
.cusSec_tableWrap.tw_wHalf {width: 429px;}
.cusSec_tableWrap h3 {position: relative; padding: 0 0 10px 0; font-weight: 600;}
.cusSec_tableWrap h3 .t_sbj {padding: 0 5px 0 0; font-size: 20px;}
.cusSec_tableWrap h3 .c_gray {vertical-align: middle; font-size: 12px; font-weight: normal;}
.grayboxSection {margin: 25px 0 0 0;}
.grayboxSection .fs11 {}
.grayboxSection .graybox {padding: 15px 20px; margin: 8px 0 0 0; line-height: 17px; font-size: 12px; box-sizing: border-box; background: #fafafa;}
.grayboxSection .inputWrap > li {float: left; width: 25%; text-align: left;}
.cusSec_tableWrap table {}

.cusMain_bn {display: block; float: right; margin: 55px 0 0 0;}

.btnWrap {margin: 45px 0 0 0; text-align: center;}
.btnWrap a {margin: 0 3px;}

.btnHover_cn {display: none; position: absolute; width: 500px; top: 27px; right: 0; padding: 15px; font-size: 12px; font-weight: normal; box-sizing: border-box; border: 1px solid #232a32; background: #fff;}
.btnHover_cn .h_tit {position: relative; padding: 0 0 7px 0; margin: 0 0 10px 0; font-size: 15px; font-weight: 600; border-bottom: 1px solid #e6e6e6;}
.btnHover_cn .h_tit .btn_close_h {display: block; position: absolute; top: -4px; right: 0;}


/* 留덉씠�섏씠吏� */
.innerList {}
.innerList li {float: left; margin: 0 20px 5px 0;}
.innerList li label {display: inline-block; width: 70px;}

.inputAroung {}

/* �뚯썝媛��� */
.j_tit {padding: 20px 0 0 0;}
.j_tit h2 {float: left; font-size: 40px;}
.j_tit img {display: block; float: right;}

.policyBox {width: 100%; height: 208px; padding: 17px; line-height: 18px; font-size: 12px; box-sizing: border-box; border: 1px solid #e3e3e3; overflow-y: scroll;}
.policyBox strong {display: block; padding: 0 0 5px 0;}
.policyBox ol {padding: 0 0 0 15px; list-style: decimal;}
.policyAgree {padding: 15px 10px 15px 0; border-bottom: 1px solid #e3e3e3;}

.totalAgree {padding: 25px 0; margin: 50px 0 0 0; text-align: center; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3;}
.totalAgree input {width: 17px; height: 17px;}
.totalAgree label {font-size: 20px;}

.join_finalBox {padding: 110px 0 90px 0; margin: 65px 0 90px 0; text-align: center; border-top: 5px solid #e2e2e2; border-bottom: 1px solid #e2e2e2;}
.join_finalBox img {display: block; margin: 0 auto;}
.join_finalBox .j_tit_user {padding: 60px 0 30px 0; text-align: center; font-size: 35px;}


/* 濡쒓렇��*/
.l_tit {text-align: center;}
.l_tit h2 {float: none;}

.loginWrap {width: 585px; margin: 90px auto 0;}
.loginWrap .login_inputWrap {position: relative; padding: 0 0 45px 0; margin: 0 0 45px 0; border-bottom: 1px solid #e3e3e3;}
.loginWrap .login_inputWrap li {font-size: 13px;}
.loginWrap .login_inputWrap li.input_user label {display: inline-block; width: 72px; font-weight: bold;}
.loginWrap .login_inputWrap li input[type="text"],
.loginWrap .login_inputWrap li input[type="password"] {width: 400px; height: 45px; padding-left: 50px;}
.loginWrap .login_inputWrap li.user_id input {background: url(../images/ico_login_id.gif) no-repeat 5% center;}
.loginWrap .login_inputWrap li.user_pw input {background: url(../images/ico_login_pw.gif) no-repeat 5% center;}
.loginWrap .login_inputWrap li .btn_red_l {display: block; position: absolute; width: 101px; height: 101px; top: 0; right: 0; line-height: 101px; padding: 0; font-size: 17px;}


.loginWrap .joinRecomm_wrap {width: 540px; margin: 0 auto;}
.loginWrap .joinRecomm_wrap p {float: left;}
.loginWrap .joinRecomm_wrap p .btn {display: block; width: 140px; padding: 5px 0;}

.pop_bg {position:fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 1500;background: rgba(0,0,0,0.4);}
.cart_layerPopup{box-sizing:border-box;position:fixed; width:510px; top:50%; left: 50%; padding:10px 28px 30px; margin: -136px 0 0 -255px; z-index: 2000; text-align: center; background:#fff;font-size:15px; /*display:none;*/}
.cart_layerPopup dt{line-height:59px; text-align: left;}
.cart_layerPopup dd{text-align:center; border-top:1px solid #e7e7e7;  border-bottom:1px solid #e7e7e7; padding:30px 0;}
.cart_layerPopup dd strong{font-size:17px; display:block; margin-bottom:10px;}
.cart_layerPopup .close{position:absolute;right:28px;top:20px;}
.cart_layerPopup .btn_ok{background:#152735; color:#fff; line-height:33px; width:110px;display: inline-block; margin-right: 5px;}
.cart_layerPopup .btn_default{background:#fff; color:#000; line-height:31px; width:108px; display: inline-block; border: 1px solid #000;}


/*��쑬占썼린�딆깈癰귨옙瑗� 占쎈굝�곤옙�밸씜*/
.pw_change_pop{box-sizing:border-box;position:fixed; width:400px;height:490px; top:50%; left: 50%;margin: -136px 0 0 -255px; z-index: 2000;text-align: center; background:#fff;font-size:15px;}
.pw_change_pop .pw_top_title{position:relative;height:42px;background-color:#000;color:#fff;}
.pw_change_pop .pw_top_title>p{text-align:left;font-size:14px;padding:12px 0 0 15px;}
.pw_change_pop .layer_close{position:absolute;right:15px;top:12px;}
.pw_change_pop .pw_top_title>.layer_close>span{color:#fff;}
.pw_change_pop .pw_contents_wrap{padding:20px;}
.pw_change_pop .pw_contents_wrap .pw_txt_box{padding:0 15px 20px 15px;text-align:left;font-size:14px;}
.pw_change_pop .pw_contents_wrap .pw_change_table_box:before{content:"";display:block;border-bottom:1px solid #000;margin-bottom:10px;}
.pw_change_pop .pw_contents_wrap .pw_change_table th{width:135px;height:28px;font-size:14px;}
.pw_change_pop .pw_contents_wrap .pw_change_table th,.pw_change_pop .pw_contents_wrap .pw_change_table td{padding-bottom:5px;}
.pw_change_pop .pw_contents_wrap .pw_change_table .security_txt{text-align:left;color:#fb5151;font-size:12px;}
.pw_change_pop .pw_contents_wrap .pw_change_table .security_explain_txt{text-align:left;font-size:12px;padding:5px 0 0 20px;color:#666;height:inherit;}
.pw_bottom_btn_area .confirm_btn{display:inline-block;width:100px;height:30px;background-color:#666;color:#fff;}
.pw_bottom_btn_area .close_btn{display:inline-block;width:100px;height:30px;background-color:#dfdfdf;color:#666;}


/*占쎈쵎苡�옙占쏙옙��猷�*/
.topmv_btn_wrap{background-color: #333;width:100%;zoom:1;}
.topmv_btn_wrap .btn_top{position:fixed; right:20px;bottom:100px; background:rgba(51,51,51,0.7); width:50px; height:50px;display:none;z-index:4;}
.topmv_btn_wrap .btn_top a{ display:block; line-height:50px; color:#fff; text-align:center;}

/* 占싸살뺍�닌됰빍 占쎈떯由� 占쎈뜆�좑옙�꾨솚占쏙옙*/
.pop_bg {position:fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 1500;background: rgba(0,0,0,0.4);}
.commonlayerPopup{box-sizing:border-box;position:fixed; width:510px; top:50%; left: 50%; padding:10px 28px 30px; margin: -136px 0 0 -255px; z-index: 2000; text-align: center; background:#fff;font-size:15px; /*display:none;*/}
.commonlayerPopup dt{line-height:59px; text-align: left;}
.commonlayerPopup dd{text-align:center; border-top:1px solid #e7e7e7;  border-bottom:1px solid #e7e7e7; padding:30px 0;}
.commonlayerPopup dd strong{font-size:17px; display:block; margin-bottom:10px;}
.commonlayerPopup .close{position:absolute;right:28px;top:20px;}
.commonlayerPopup .btn_ok{background:#152735; color:#fff; line-height:33px; width:110px;display: inline-block; margin-right: 5px;}
.commonlayerPopup .btn_default{background:#fff; color:#000; line-height:31px; width:108px; display: inline-block; border: 1px solid #000;}

/*獄쏄퀣�싷쭪占쏙옙�낆젾占쎌빘毓�*/
.adress_pop{box-sizing:border-box;position:fixed; width:520px;height:460px; top:50%; left: 50%; padding:20px 20px 10px; margin: -136px 0 0 -255px; z-index: 2000;text-align: center; background:#fff;font-size:15px;border:1px solid #000; /*display:none;*/}
.adress_pop .layer_close{position:absolute;right:15px;}
.adress_pop .title{text-align:left;font-weight:bold;margin:10px 0;}
.adress_pop .lp_padding:before{content:"";display: block;border-bottom: 1px solid #000;}
.adress_pop .tblList03 th{width:100px;}
.adress_pop .tblList03 td{text-align:left;}
.adress_pop .tblList03 th,.adress_pop .tblList03 td{height:30px;padding:10px 0;border-bottom: 1px solid #666;}
.adress_pop .tblList03 .search_myad{width:100px;height:28px;background-color:#666;color:#fff;font-size:12px;vertical-align:middle;}
.adress_pop .tblList03 .adress_no_use{margin-left:10px;}
.bottom_btn_area>button[type="button"]{width:132px;height:30px;background-color: #eb3539;color:#fff;margin-top:15px;}


/*
@DATE : 2017-03-27
@USE : 占쎄낱萸뱄옙占쏙옙怨뚮┛ 占쎈뜆�좑옙�꾨솚占쏙옙
@WRITER : 筌ㅼ뮇�곻쭪占�
*/
.btn_red_m {display: inline-block; height: 40px; padding: 0 30px; line-height: 40px; text-align: center; font-size: 15px; font-weight: normal; color: #fff; background: #f0363c;}

.lp_bg {position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 105; background: rgba(0,0,0,0.6);}

.lp_box {position: fixed; box-sizing: border-box; left: 50%; padding: 20px; z-index: 110; text-align: center; background: #fff;}
.lp_box_s {width: 400px; top: 30%; margin: 0 0 0 -200px;}
.lp_box_l {width: 675px; top: 20%; margin: 0 0 0 -337px;}


.lp_box input,
.lp_box textarea {box-sizing: border-box; width: 100%;}
.lp_box input[type="checkbox"],
.lp_box input[type="radio"] {width: auto;}
.btn_close_lp {display: block; position: absolute; top: 20px; right: 20px;}

.lp_title_center {padding: 20px 0; text-align: center; font-size: 25px;}

.review_star_list li {float: left; padding: 0 15px 0 0;}
.review_star_list li strong {padding-top: 3px;}
.review_star_list li img {margin: -3px 3px 0; vertical-align: middle;}

.btns_right {text-align: right;}
.btns_right a {margin-left: 3px;}

.dot_list li {text-align: left;}

/*
DATE : 2017-04-05  �꾩듅�곗텛媛�
*/
.prdArea > li a .prdInfo_section .prdInfo_price .orgin_price {display: inline-block; padding-right: 5px; font-size: 0.9em; font-weight: normal; text-decoration: line-through;}
.prdArea > li a .prdInfo_section .prdInfo_price {}

.prdArea {width: 1000px;}
/* .prdArea > li {width: 23%; height: auto; padding: 0 0 20px; margin: 0 8px 20px;} */
.prdArea > li {width: 23%;/* height: auto; */padding: 0 0 20px;margin: 0 8px 20px;}
.prdArea > li a .prdImg_section {width: 100%; height: 250px; margin: 0 auto 20px; overflow: hidden;}
.prdArea > li a .prdImg_section img {width: 100%;}
.prdArea > li:nth-child(3n+2) {margin: 0 8px 20px;}

.prdArea > li a .prdInfo_section .prdInfo_name {display: -webkit-box; height: auto; padding: 0 5px; -webkit-line-clamp: 1; text-overflow: ellipsis; overflow: hidden; word-wrap: break-word; word-break: break-all; -webkit-box-orient: vertical;}

.brandFilter {width: 1100px; margin: 50px auto 0; text-align: center;}

table.brandList {width: 100%; border: 1px solid #999;}
table.brandList.on tr:nth-child(2) {border-bottom: 1px solid #c8c7c7;}
table.brandList.on tr:last-child {border-bottom: 1px solid #999;}

.brandList tr {border-bottom: 1px solid #c8c7c7;}
.brandList tr:nth-child(2) {border-bottom: none;}
.brandList td {padding: 19px 0; text-align: center; font-size: 13px; font-weight: bold; border-right: 1px solid #c8c7c7; cursor: pointer;}
.brandList td:last-child {border-right: none;}
.brandList td.current,
.brandList td:hover {background: #333; color: #fff;}

.brand_moreBtn {display: block; width: 119px; height: 30px; margin: 0 auto 55px;}

.brandFilter .prdArea {margin-bottom: 0;}
.brandFilter .prdArea > li {width: 18%; padding-bottom: 8px;}
.brandFilter .prdArea > li a .prdImg_section {height: 200px; margin-bottom: 5px;}
.brandFilter .prdArea > li a .prdInfo_section {font-size: 13px;}
.brandFilter .prdHover {top: 159px;}

.prdArea.sideArea {width: 870px;}
.prdArea.sideArea > li {margin: 0 5px 20px;}
.prdArea.sideArea > li:nth-child(3n+2) {margin: 0 5px 20px;}
.prdArea.sideArea > li a .prdImg_section {height: 200px;}
.prdArea.sideArea > li a .prdInfo_section {font-size: 14px;}
.prdArea.sideArea > li .prdHover {top: 164px;}

/* 4��17�� �꾩듅�� �섏젙  硫붿씤 釉뚮옖�� hover*/
.brandFilter  table td {position: relative; box-sizing: border-box; height: 54px; overflow: hidden;}
.brandFilter  table td img {position: absolute; width: 183px; height: 54px; top: 50%; left: 50%; z-index: 50; margin: -27px 0 0 -91px; transition:transform 1.3s; opacity: 0;}
.brandFilter  table td:hover img {transform: scale(1.2); opacity: 1;}
.brandFilter  table td p {position: absolute; width: 183px; height: 54px; top: 0; left: 0; line-height: 54px; text-align: center; z-index: 55;}
.brandFilter  table td p:hover {color: #fff;}


/* slideNav */
.promotionSlide {position: relative;}

.promotionView li {width: 100%;}

.promotionView li a {display: block; margin: 0 auto;}
.promotionView li a img {display: block; margin: 0 auto; width: 100%;}

.slideNav {position: absolute; width: 100%; bottom: 10px; text-align: center;}
.slideNav li {display: inline-block;}
.slideNav li a {display: inline-block; box-sizing: border-box; width: 12px; height: 12px; margin: 0 2px; border-radius: 50%; background: #fff; cursor: pointer;}
.slideNav li a:hover,
.slideNav li a.active {border: 2px solid #fff; background: transparent;}

/* 4�� 20�� 異붽� */
.lp_box_ll {height: 650px; top: 50%; margin-top: -325px; overflow-y: scroll;}
.lp_policy {text-align: left; font-size: 13px;}

/*
DATE : 2017-04-20
WRITER : 理쒖삁吏�
*/
table .tableThumb_small {overflow: hidden;}
table .tableThumb_small img {height: 100%;}

.brandList td.current,
.brandList td:hover {color: #fff; background: #999;}
.brandFilter  table td.current img {opacity: 1; transform: scale(1.2);}

/*
DATE : 2017-04-21 �꾩듅�� 異붽�
*/
.bigCate .objTit span {font-size: 26px;}
.bigCate .objTit {margin-bottom: 85px;}
.prdArea > li a .prdInfo_section strong {font-size: 13px; color: #a4a4a4;}
.prdArea > li a .prdInfo_section .prdInfo_name {font-weight: bold;}

.bigCate .objTit.objTit_sub {margin-bottom: 10px;}


/*
DATE : 2017-04-21
WRITER : 理쒖삁吏�
*/
.lp_box_auto {width: 675px; height: auto; top: 20%; margin: 0 0 0 -337px;}
.lp_box_ll {overflow-y: scroll;}

.lp_box select {box-sizing: border-box; border-color: #dfdfdf;}
.lp_box input, .lp_box textarea {border-color: #dfdfdf;}




/* �섎떒�� �쇰툝�먯꽌 �ъ슜�섏�留� 媛쒕컻�먮뒗 �녿뒗 css�낅땲��.
媛쒕컻�먯꽌 �ъ슜 �� 吏��뚯＜�몄슂 */

/* quick menu */
.quick_menuWrap {position:fixed;left:50%;top:208px;width:74px; margin-left:605px;}
.quick_menu {top:0; left: 0; width:74px; text-align: center; background-color:#FFF;border:solid 1px #c8c7c7;z-index:5;}
.quick_menu p {color:#333333;font-size:10px;}
.quick_menu > .today {width:64px;margin:0 auto;padding:10px 0 5px;border-bottom:solid 1px #c8c7c7;}
.quick_menu > .today p {font-size:14px;font-weight:700;}
.quick_menu strong {font-size:15px;font-weight:700;}
.quick_menu .view_prd ul li a {display: block; width: 64px; height: 64px; margin: 0 auto;}
.quick_menu .view_prd ul li a img {display: block; width: 100%;}

.quick_menu .arr_paging {padding:5px 0;}
.quick_menu .arr_paging a {margin:0 4px;}
.quick_menu .wish {padding:5px 0;border:solid #c8c7c7;border-width:1px 0;}
.quick_menu .basket {padding:5px 0; border-top: 1px solid #c8c7c7;}
.rightBn {display: block; margin: 7px 0 0 0;}

.quick_menuWrap .btn_goTop {display: block; width: 48px; height: 48px; margin: 10px auto;}








/*
DATE : 2017-04-21
WRITER : 理쒖삁吏�
 */
.basic_tableStyle td a img {margin-left: 0;}
table .prdInfo {padding-top: 0;}


/* 로그인 */
/* .subWrap{width: 1100px;	margin: 0 auto;}
.subWrap.login{	position: absolute;	top: 50%;left: 50%;margin: -150px 0 0 -150px;width:400px;height:400px;}
.login {width:300px;margin :0 auto;}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.login ul{list-style: none;	padding-left: 0px;}
.login input { 	
	width: 300px; 	
	margin-bottom : 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.login button {	width:100%;	height:50px;background: #f2f2f2;font-size:20px;border-radius: 10px;	outline: none;	margin-top: 5px;margin-bottom: 5px;}
.login input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
.login .find {text-align: center;}
.find a {color: #6699ff;}
.link_lp{margin-right: 30px;} */


/*회원가입*/
.new_regi {width:700px;	margin: 0 auto;}
.new_regi input {width : 300px;}
.new_regi button{width:80px;height:50px;background: #f2f2f2;font:20px;border-radius: 10px;outline: none;}
.new_regi span.frm_adr_btn{width:80px;height:50px;background: #f2f2f2;font:20px;border-radius: 10px;outline: none;padding: 10px 10px;}

/*정규식체크*/
.idComentColor span.alert-green{color: blue;}
.idComentColor span.alert-red{color: red;}
.pwdComentColor span.alert-green{color: blue;}
.pwdComentColor span.alert-red{color: red;}
.pwdReCheckComentColor span.alert-green{color: blue;}
.pwdReCheckComentColor span.alert-red{color: red;}
.nickComentColor span.alert-green{color: blue;}
.nickComentColor span.alert-red{color: red;}
.phoneComentColor span.alert-green{color: blue;}
.phoneComentColor span.alert-red{color: red;}
.dayComentColor span.alert-green{color: blue;}
.dayComentColor span.alert-red{color: red;}
.nameComentColor span.alert-green{color: blue;}
.nameComentColor span.alert-red{color: red;}




